#content {
    padding: 20px 40px;
    padding-left: 0;
}
#wrapper .sidebar .nav-item .nav-link {
    padding-bottom: 0;
}
#wrapper .sidebar .nav-item:last-child .nav-link {
    padding-bottom: 1rem;
}