{% load common_utils %}
{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/google_font.css" rel="stylesheet">
    <link href="/static/css/custom-style.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
</head>
{% load i18n %}

<body id="page-top" class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    {% if has_permission %}
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Home -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>

            {% get_app_list as app_list %}
            {% if app_list %}
                {% for app in app_list %}
                    {% for model in app.models %}
                        {% if model.admin_url %}
                            <li class="model-{{ model.object_name|lower }} nav-item">
                                <a class="nav-link" href="{{ model.admin_url }}">
                                    <i class="fas fa-fw fa-tachometer-alt"></i>
                                    <span>{{ model.name }}</span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                {{ model.name }}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <p>{% trans "You don't have permission to view or edit anything." %}</p>
            {% endif %}
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="/subject-list">#}
{#                    <i class="fas fa-fw fa-tachometer-alt"></i>#}
{#                    <span>Subject List</span></a>#}
{#            </li>#}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
    {% endif %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Container -->
        <div id="container">
            {% if not is_popup %}
                <!-- Header -->
                <div id="header">
                    <div id="branding">
                        {% block branding %}{% endblock %}
                    </div>
                    {% block usertools %}
                        {% if has_permission %}
                            <div id="user-tools">
                                {% block welcome-msg %}
                                    {% trans 'Welcome,' %}
                                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                                {% endblock %}
                                {% block userlinks %}
                                    {% if site_url %}
                                        <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                                    {% endif %}
                                    {% if user.is_active and user.is_staff %}
                                        {% url 'django-admindocs-docroot' as docsroot %}
                                        {% if docsroot %}
                                            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                                        {% endif %}
                                    {% endif %}
                                    {% if user.has_usable_password %}
                                        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                                    {% endif %}
                                    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                    {% block nav-global %}{% endblock %}
                </div>
                <!-- END Header -->

                {% block breadcrumbs %}
                    <div class="breadcrumbs">
                        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                        {% if title %} &rsaquo; {{ title }}{% endif %}
                    </div>
                {% endblock %}
            {% endif %}

            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">{% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                    {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                <div class="container-fluid">

                    {% block pretitle %}{% endblock %}
                    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                    {% block content %}
                        {% block object-tools %}{% endblock %}
                        {{ content }}
                    {% endblock %}
                    {% block sidebar %}{% endblock %}
                    <br class="clear">
                </div>
            </div>
            <!-- END Content -->

            {% block footer %}<div id="footer"></div>{% endblock %}
        </div>
        <!-- END Container -->

    </div>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

</body>
</html>
