{% extends "admin/base_site.html" %}
{% block content %}
Are you sure you want to execute this action ?


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.subject_id }}/">{{ question.subject_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}