{% extends "admin/base.html" %}
{% load i18n static %}
{% load common_utils %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ subject.subject_id }}</td>
                <td>{{ subject.subject_code }}</td>
                <td>{{ subject.subject_text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
